#dashBoardWrapper {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
}

#dashBoardCanvas {
    border: 3px solid black;

}

.graphDataPoint {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 20px;
}